<div style="text-align: center;">
    <div class='container-fluid'>
        <ngb-carousel>
            <ng-template ngbSlide>
                <img class="slide" src="/assets/slide6.jpg">
            </ng-template>
            <ng-template ngbSlide>
                <img class="slide" src="/assets/slide2.jpg">
            </ng-template>
            <ng-template ngbSlide>
                <img class="slide" src="/assets/slide3.jpg">
            </ng-template>
            <ng-template ngbSlide>
                <img class="slide" src="/assets/slide4.jpg">
            </ng-template>
        </ngb-carousel>
    </div>
</div>