<nav class="navbar navbar-expand-lg" style="background-color: #26272b;">
    <a class="navbar-brand" routerLink="home" style="color: white"><img height="auto" width="50px" src="./assets/logo_angular.png"></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color: white;">
    <span class="navbar-toggler-icon"><img height="auto" width="30px" style="margin: 1px;" src="./assets/menu.png"></span>
  </button>

    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home" routerLinkActive="active" style="color: white">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="categories" routerLinkActive="active" style="color: white">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about" routerLinkActive="active" style="color: white">About Us</a>
            </li>
        </ul>

        <div *ngIf="auth.user | async as user; else login">
            <span style="color: white;text-align: center;margin-top: 2px;">{{ user.email }}</span>
        </div>
        <div *ngIf="auth.user | async as user">
            <button class="right" (click)="auth.logout()"><img height="auto" width="20px" style="margin: 1px;" src="./assets/close.png"></button>
        </div>

        <ng-template #login>
            <input type="text" class="form-control" style="margin: 1px; width: 200px;" name="email" placeholder="Escribe tu email..." [(ngModel)]="auth.email" />
            <input type="password" class="form-control" style="margin: 1px; width: 200px;" name="pass" placeholder="Escribe tu contraseña..." [(ngModel)]="auth.pass" />
            <button class="right" (click)="auth.login()"><img height="auto" width="20px" src="./assets/logo.png" alt="Login"></button>
        </ng-template>

        <a class="nav-link right" routerLink="cart" routerLinkActive="active"><img height="auto" width="20px" src="./assets/cart.png"></a>
    </div>
</nav>

<div class="container">
    <router-outlet *ngIf="auth.user | async as user; else index"></router-outlet>

    <ng-template #index>
        <app-home></app-home>
    </ng-template>
</div>

<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Project made in Angular, using TypeScript, Bootstrap adn Firebase</p>
            </div>

            <div class="col-xs-6 col-md-3 has-danger">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a routerLink="home">Home</a></li>
                    <li><a routerLink="categories">Categories</a></li>
                    <li><a routerLink="about">About Us</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by Fernando.
                </p>
            </div>
        </div>
    </div>
</footer>