/* You can add global styles to this file, and also import other style files */

.right {
    padding: 10px;
    float: right;
    background: none;
    border: none;
}

.slide {
    width: 600px;
    height: auto;
}

@media (max-width:988px) {
    .right {
        float: none;
        padding: 5px;
    }
}