<br>
<hr>
<br>
<app-carousel class="carrusel"></app-carousel>
<br>
<hr>

<h3>Elementos Destacados</h3>
<hr>
<br>

<div class="bloque">
    <div>
        <img src="assets/tel1.jpg" class="telefono">
        <div class="texto">Iphone 11</div>
    </div>
    <div>
        <img src="assets/tel2.jpg" class="telefono">
        <div class="texto">LG k10</div>
    </div>
    <div>
        <img src="assets/tel3.jpg" class="telefono">
        <div class="texto">Samsung S10</div>
    </div>
    <div>
        <img src="assets/tel4.jpg" class="telefono">
        <div class="texto">Samsung S9</div>
    </div>
</div>

<br>
<hr>
<br>